#### Example 1: Converting integer to float

In [3]:
integer_number = 12345  
float_number = 1.2345
float_number2= 3.3

new_number = integer_number + float_number
new_number2 = new_number + float_number2

# display new value and resulting data type
print("Value:",new_number)
print("Data Type:",type(new_number))
print("New Value:",new_number2)

Value: 12346.2345
Data Type: <class 'float'>
New Value: 12349.5345

### Explicit Type Conversion

In [4]:
num_string = '12'  
num_integer = 23

print("Data type before Type Casting:",type(num_string))

# explicit type conversion
num_string = int(num_string)

print("Data type of after Type Casting:",type(num_string))

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of sum:",type(num_sum))

Data type before Type Casting: <class 'str'>
Data type of after Type Casting: <class 'int'>
Sum: 35
Data type of sum: <class 'int'>

### Python Basic Input and Output

In [5]:
print('Python and muhammed Essa')

# Output: Python is powerful

Python and muhammed Essa

In [8]:
print('New Year', 2025, 'See you', sep= '. ')

New Year. 2025. See you

In [9]:
print('Muhammed ' + 'Essa Hameed')

Muhammed Essa Hameed

### Output formatting

In [10]:
x = 5
y = 10
z = 20

print('The value of x is {} and y is {} and z is {}'.format(x,y,z))

The value of x is 5 and y is 10 and z is 20

### Python Input

In [5]:
# using input() to take user input
num = input('Enter a number: ')
num = int(num)
print('You Entered:', num)

print('Data type of num:', type(num))

You Entered: 33
Data type of num: <class 'int'>

In [6]:
#To convert user input into a number we can use int() or float() functions as:

num = float(input('Enter a number: '))
print('You Entered:', num)

print('Data type of num:', type(num))

You Entered: 33.0
Data type of num: <class 'float'>

### Python Operators

##### Example 1: Arithmetic Operators in Python

In [7]:
a = 8
b = 4

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  12
Subtraction:  4
Multiplication:  32
Division:  2.0
Floor Division:  2
Modulo:  0
Power:  4096

##### Example 2: Assignment Operators

In [8]:
# assign 10 to a
a = 20

# assign 5 to b
b = 5 

# assign the sum of a and b to a
a += b      # a = a + b

print(a)

# Output: 25

25

##### Example 3: Comparison Operators

In [9]:
a = 2

b = 3

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = False
a < b = True
a >= b = False
a <= b = True

##### Example 4: Logical Operators

In [10]:
# logical AND
print(True and True)     # True
print(True and False)    # False

# logical OR
print(True or False)     # True

# logical NOT
print(not True)          # False

True
False
True
False

### 6. Python Special operators

##### Identity operators in Python

In [11]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  # prints False

print(x2 is y2)  # prints True

print(x3 is y3)  # prints False

False
True
False

##### Membership operators in Python

In [12]:
message = 'Hello world'
dict1 = {1:'a', 2:'b'}

# check if 'H' is present in message string
print('H' in message)  # prints True

# check if 'hello' is present in message string
print('hello' not in message)  # prints True

# check if '1' key is present in dict1
print(1 in dict1)  # prints True

# check if 'a' key is present in dict1
print('a' in dict1)  # prints False

True
True
True
False