### Python Numeric Data Type

In [ ]:
num1 = 5
print(num1, 'is of type', type(num1))

num2 = 5.42
print(num2, 'is of type', type(num2))

num3 = 8+2j
print(num3, 'is of type', type(num3))

##### Type Conversion in Python

In [ ]:
print(1 + 2.0) # prints 3.0

##### Explicit Type Conversion

In [ ]:
num1 = int(2.3)
print(num1)  # prints 2

num2 = int(-2.8)
print(num2)  # prints -2

num3 = float(5)
print(num3) # prints 5.0

num4 = complex('3+5j')
print(num4)  # prints (3 + 5j)

##### Python Random Module

In [1]:
import random

print(random.randrange(10, 20))

list1 = ['a', 'b', 'c', 'd', 'e']

# get random item from list1
print(random.choice(list1))

# Shuffle list1
random.shuffle(list1)

# Print the shuffled list1
print(list1)

# Print random element
print(random.random())

19
b
['b', 'c', 'd', 'e', 'a']
0.30451864960707875

#### Python Mathematics

In [2]:
import math

print(math.pi)

print(math.cos(math.pi))

print(math.exp(10))

print(math.log10(1000))

print(math.sinh(1))

print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

### Python List

In [ ]:
 # a list of three elements
ages = [19, 26, 29]
print(ages)

# Output: [19, 26, 29]

In [ ]:
# a list containing strings and numbers
student = ['Jack', 32, 'Computer Science']
print(student)

# an empty list
empty_list = []
print(empty_list)

##### Access Elements Using Index

In [ ]:
languages = ['Python', 'Swift', 'C++']

# access the first element
print(languages[0])   # Python

# access the third element
print(languages[2])   # C++


##### Negative Indexing in Python

In [ ]:
languages = ['Python', 'Swift', 'C++']

# access item at index 0
print(languages[-1])   # C++

# access item at index 2
print(languages[-3])   # Python

 
##### Add Elements to a Python List

In [ ]:
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)

# using append method 
fruits.append('cherry')

print('Updated List:', fruits)

 
##### Add Elements at the Specified Index

In [ ]:
fruits = ['apple', 'banana', 'orange']
print("Original List:", fruits) 

# insert 'cherry' at index 2
fruits.insert(2, 'cherry')

print("Updated List:", fruits)

Change List Items

In [ ]:
colors = ['Red', 'Black', 'Green']
print('Original List:', colors)

# changing the third item to 'Blue'
colors[2] = 'Blue'

print('Updated List:', colors)

Remove an Item From a List

In [ ]:
numbers = [2,4,7,9]

# remove 4 from the list
numbers.remove(4)

print(numbers) 

# Output: [2, 7, 9]

Python List Length

In [ ]:
cars = ['BMW', 'Mercedes', 'Tesla']

print('Total Elements: ', len(cars))  
  
# Output: Total Elements:  3

Iterating Through a List

In [ ]:
fruits = ['apple', 'banana', 'orange']

# iterate through the list
for fruit in fruits:
    print(fruit)

Check if an Item Exists in the Python List

In [ ]:
fruits = ['apple', 'cherry', 'banana']

print('orange' in fruits)    # False
print('cherry' in fruits)    # True

Python Tuple

In [ ]:
numbers = (1, 2, -5)
print(numbers)

# Output: (1, 2, -5)

Create a Tuple Using tuple() Constructor

In [ ]:
tuple_constructor = tuple(('Jack', 'Maria', 'David'))
print(tuple_constructor)

# Output: ('Jack', 'Maria', 'David')

 
Empty Tuple

In [ ]:
# create an empty tuple
empty_tuple = ()
print(empty_tuple)

# Output: ()

Tuple of different data types

In [ ]:
# tuple of string types
names = ('James', 'Jack', 'Eva')
print (names)

# tuple of float types
float_values = (1.2, 3.4, 2.1)
print(float_values)

Tuple of mixed data types

In [ ]:
# tuple including string and integer
mixed_tuple = (2, 'Hello', 'Python')
print(mixed_tuple)

# Output: (2, 'Hello', 'Python')

##### Access Items Using Index

In [ ]:
languages = ('Python', 'Swift', 'C++')

# access the first item
print(languages[0])   # Python

# access the third item
print(languages[2])   # C++

Tuple Cannot be Modified

In [ ]:
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')

# trying to modify a tuple
cars[0] = 'Nissan'    # error
       
print(cars)

Python Tuple Length

In [ ]:
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')
print('Total Items:', len(cars)) 
       
# Output: Total Items: 4

Iterate Through a Tuple

In [ ]:
fruits = ('apple','banana','orange')

# iterate through the tuple
for fruit in fruits:
    print(fruit)

Check if an Item Exists in the Tuple

In [ ]:
colors = ('red', 'orange', 'blue')

print('yellow' in colors)    # False
print('red' in colors)       # True

Change Tuple Items

In [ ]:
fruits = ('apple', 'cherry', 'orange')

# trying to change the second item to 'banana'
fruits[1] = 'banana'

print(fruits) 

# Output: TypeError: 'tuple' object does not support item assignment

Delete Tuples

In [ ]:
animals = ('dog', 'cat', 'rat')

# deleting the tuple
del animals

Create a Python Tuple With One Item

In [ ]:
var = ('Hello')
print(var)  # string

In [ ]:
var = ('Hello',) 
print(var)  # tuple

# Output: ('Hello',)

Allow Duplicates

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Tuple Length

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

Access Tuple Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

Negative Indexing

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

Range of Indexes

In [4]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

### Python Sets

In [5]:
# create a set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'a', 'o', 'i', 'u', 'e'}
Set of mixed data types: {'Hello', 'Bye', 101, -2}

Duplicate Items in a Set

In [ ]:
numbers = {2, 4, 6, 6, 2, 8}
print(numbers)   # {8, 2, 4, 6}

In [6]:
numbers = {21, 34, 54, 12}

print('Initial Set:',numbers)

# using add() method
numbers.add(32)

print('Updated Set:', numbers)

Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}

Update Python Set

In [ ]:
companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = ['apple', 'google', 'apple']

# using update() method
companies.update(tech_companies)

print(companies)

# Output: {'google', 'apple', 'Lacoste', 'Ralph Lauren'}

Remove an Element from a Set

In [ ]:
languages = {'Swift', 'Java', 'Python'}

print('Initial Set:',languages)

# remove 'Java' from a set
removedValue = languages.discard('Java')

print('Set after remove():', languages)

Iterate Over a Set in Python

In [1]:
fruits = {"Apple", "Peach", "Mango"}

# for loop to access each fruits
for fruit in fruits: 
    print(fruit)

Peach
Apple
Mango

Find Number of Set Elements

In [ ]:
even_numbers = {2,4,6,8}
print('Set:',even_numbers)

# find number of elements
print('Total Elements:', len(even_numbers))

Python Dictionary

In [ ]:
# creating a dictionary
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
  "England": "London"
}

# printing the dictionary
print(country_capitals)

Access Dictionary Items

In [ ]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
  "England": "London"
}

# access the value of keys
print(country_capitals["Germany"])    # Output: Berlin
print(country_capitals["England"])    # Output: London

Add Items to a Dictionary

In [ ]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}

# add an item with "Italy" as key and "Rome" as its value
country_capitals["Italy"] = "Rome"

print(country_capitals)

Remove Dictionary Items

In [ ]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}

# delete item having "Germany" key
del country_capitals["Germany"]

print(country_capitals)

Python Dictionary pop()

In [ ]:
# create a dictionary
marks = { 'Physics': 67, 'Chemistry': 72, 'Math': 89 }

element = marks.pop('Chemistry')

print('Popped Marks:', element)

# Output: Popped Marks: 72

In [ ]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}

# clear the dictionary
country_capitals.clear()

print(country_capitals)

Change Dictionary Items

In [ ]:
country_capitals = {
  "Germany": "Berlin", 
  "Italy": "Naples", 
  "England": "London"
}

# change the value of "Italy" key to "Rome"
country_capitals["Italy"] = "Rome"

print(country_capitals)

Iterate Through a Dictionary

In [ ]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome" 
}

# print dictionary keys one by one
for country in country_capitals:
    print(country)

print()

# print dictionary values one by one
for country in country_capitals:
    capital = country_capitals[country]
    print(capital)

Find Dictionary Length

In [ ]:
country_capitals = {"England": "London", "Italy": "Rome"}

# get dictionary's length
print(len(country_capitals))   # Output: 2

numbers = {10: "ten", 20: "twenty", 30: "thirty"}

# get dictionary's length
print(len(numbers))            # Output: 3

countries = {}

# get dictionary's length
print(len(countries))          # Output: 0

Dictionary Membership Test

In [ ]:
file_types = {
    ".txt": "Text File",
    ".pdf": "PDF Document",
    ".jpg": "JPEG Image",
}

# use of in and not in operators
print(".pdf" in file_types)       # Output: True
print(".mp3" in file_types)       # Output: False
print(".mp3" not in file_types)   # Output: True